html{
	overflow-x: hidden;
	margin: 0px;
	padding: 0px;

}
body{
	overflow-x: :hidden;
	margin: 0px;
	padding: 0px;
	font-family: 'Source Sans 3';
	background: var(--bodyBg);
}
h1,h2,h3,h4,h5,h6{
	margin: 0px;
	font-family: 'Roboto';
	font-weight:700;
}
button{
	font-family: 'Roboto';
	font-size: 16px;
}
ul{
	padding: 0px;
	margin: 0px;
	list-style: none;
}
a{
	display: inline-block;
	text-decoration: none;
}
span,strong{
	display: inline-block;
}
p{
	margin: 0px;
}
:root {
	--bodyBg: #f2f7fb;
  --black: #000;
  --white: #fff;
  --sidebariconColor: rgb(191, 203, 217);
  --sidebarhover: #263445 ;
  --themecolor:rgb(48, 65, 86);
  --primaryButton: #1890ff;
  --dangerButton: #ff4949;
  --warningButton: #ffba00;
  --successButton: #13ce66;
  --titleColor: #606266;

}

.row-wrapper{
	display: flex;
	flex-flow: row wrap;
}
.sm-img{
	height: 25px;
}
table{
	width: 100%;
	border-collapse: collapse;
}
table thead tr th
{
	font-size: 14px;
	font-weight: 800;
	font-family: 'Roboto';

}
table tbody tr td{
	font-size: 14px;
}

/** width setting **/
.width-40{
	width: 40%;
}
.width-50{
	width: 50%;
}
.width-55{
	width: 55%;
}
/**end of width setting **/
/** form setting **/


select {
	background: none !important;
	height: 43px !important;
	text-indent: 15px !important;
}
/** end of form setting **/
.text-danger {
	font-size: 14px;
	color: red;
}


.toolstip{
  display: inline;
  position: relative;
  cursor: pointer;
}
.toolstip:hover::after {
    content: attr(tool);
    position: absolute;
    display: block;
    display: -webkit-block;
    background: #ddd;
    color: #111;
    width: 250px;
    padding: 10px 15px;
    top: 29px;
    z-index: 999999;
    left:-21px;
    white-space: break-spaces;
    line-height: 17px;
    font-size: 12px;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
}